@import "/src/styles/varaibles.scss";

.modal {
	@apply min-h-screen z-50 w-full fixed inset-0 flex items-center justify-center bg-gradient-to-br from-stone-300;

	.inner {
		@apply bg-slate-50 w-3/4 p-6 relative overflow-hidden text-lg rounded-md;
	}

	.close {
		@apply absolute top-4 right-4 text-lg hover:scale-90 duration-200;
	}

	.box {
		@apply mt-8 flex justify-center;

		img {
			@apply mr-8 w-36 h-48;
		}

		h3 {
			display: flex;
			flex-direction: column;
		}

		.title {
			@apply font-semibold;
		}

		.author {
			@apply font-medium;
		}

		p {
			@apply font-thin text-sm;
		}

		a {
			@apply mt-4 px-4 py-2 rounded-lg bg-blue-500 text-white font-bold hover:bg-blue-600 shadow-md transform scale-105;
			display: inline-block
		}
	}

	.description {
		@apply mt-8 mb-8 text-justify text-xs overflow-y-auto max-h-48 text-base;
		padding: 15px;
	}
}